<div
  style="height:28vh;width: 100vw"
  leaflet
  leafletDraw
  [leafletOptions]="options"
  [leafletLayer]="drawnItems"
  (leafletMapReady)="onMapReady($event)"
  [leafletDrawOptions]="drawOptions"
  (leafletDrawStart)="clearDraw()"

  (leafletDrawCreated)="onDrawCreated($event)"
>
  <leaflet-locate-control
    [map]="map"
    [options]="locateOptions"
  ></leaflet-locate-control>
  <leaflet-fullscreen-control
    [map]="map"
    [options]="fullScreenOptions"
  ></leaflet-fullscreen-control>
</div>
